{#
/**
 * @file
 * Default theme implementation to display a grid menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}
{{ attach_library('ma_gridmenu/ma-gridmenu') }}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
  <div class="mosaic">
    <div class="grid-container field__items">
    {% for item in items %}
      <div class="field__item">
        <div class="field-content layout-tile tile">
          <a class="grid-menu-link layout-tile__bounds tile__bounds" href="{{ item.url }}" {{ item.attributes }}><div class="tile__inner layout-tile__inner">
            <ul class="bg-box">
              <li class="bg-style-{{ item.attributes['data-bg-img-style'] }}" style="background-image: url({{ item.attributes['data-bg-img'] }});">&nbsp;</li>
            </ul>
            <div class="grid-menu-title">
            <h3>{{ item.title }}</h3>
            </div>
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
          </div></a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  {% endif %}
{% endmacro %}
